<!DOCTYPE html>
<html lang="en">
{% include 'base.html' %}
<body>
    <div class="error-card">
        <img src="/static/assets/eyre.png" alt="Logo">
        <h1>404</h1>
        <p>Page Not Found</p>
        <a href="/">Go to Home</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
