<!DOCTYPE html>
<html lang="en">
{% include 'base.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="d-flex justify-content-end">
            <a href="{% url 'role_create' %}" class="btn btn-create">Create Role</a>
        </div>
        <div class="card">
            <div class="card-body">
                <h1>Role Management</h1>
                {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Permissions</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for role in roles %}
                        <tr>
                            <td>{{ role.id }}</td>
                            <td>{{ role.name }}</td>
                            <td>
                                {% for permission in role.permissions.all %}
                                    {{ permission.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url 'role_update' role.id %}" class="btn btn-update btn-sm">Update</a>
                                <a href="{% url 'role_delete' role.id %}" class="btn btn-delete btn-sm" onclick="return confirmDelete()">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function confirmDelete() {
            return confirm("Do you really want to delete this role?");
        }
    </script>
</body>
</html>
